@import '../../styles/styles.scss';

.my-concert-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 10px;
    margin-bottom: 20px;

    &__option {
        background-color: var(--button-color-1);
        border-radius: 12px;
        padding-left: 8px;
        color: white;
        min-height: 30px;
        &--selected {
            background-color: var(--button-color-2);
        }
    }
}