.d-flex-center-h {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d-flex-center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}